body{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}
table , tr , td{
    border: 1px black solid;
    border-radius: collapse;
}
.container{
    margin: auto;
    width: 95%;
}
.header h1{
    text-align: center;
}
td{
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.anim1 img{
    animation-name: extraterrestre;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-play-state: running;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    
}
@keyframes extraterrestre {
    0% {
        margin-left: 0%;
        scale: 1.5;
    }
    20% {
        margin-left: 5%;
    }
    40% {
        margin-left: 15%;
    }
    60% {
        margin-left: 25%;
    }
    80% {
        margin-left: 50%;
    }
    100% {
        margin-left: 70%;
    }
}
.anim2{
    width: 100px;
    height:200px;
    background-color: black;
    margin: auto;
    border-radius: 50%;

    transition-property: transform;
    animation-name: rotate-anim2; 
    animation-duration: 4s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate-anim2 {
    0% {
        transform: rotate(0deg);
        background-color: #008CBA;
    }
    25% {
        transform: rotate(30deg);
        background-color: rgb(164, 157, 172);
    }
    50% {
        transform: rotate(100deg);
        background-color:cornflowerblue;
    }
    75% {
        transform: rotate(200deg);
        background-color:darkslateblue;
    }
    100% {
        transform: rotate(360deg);
        background-color: blueviolet;
    }
}
  

.anim3 img:hover { 
    opacity: 0;
    
  }
  .anim4{
    display:flex;
  }
.anim4 h3{
    text-align: center;
    color: white;
    width: 100px;
    height:100px;
    background-color: rgba(168, 166, 39, 0.733);
    padding-top:60px;
    margin-left:15px;
}
.anim4 h3:hover{
    animation:animation-4 6s 1s;    
}
@keyframes animation-4 {
    0% {
        margin-left: 0%;
        border-radius: 0%;
        background-color: chartreuse;
    }
    25%{
        margin-left:25%;
        border-radius:25%;
        background-color: rgba(129, 209, 49, 0.822);
    }
    50%{
        margin-left:50%;
        border-radius:50%;
        background-color: rgba(182, 240, 124, 0.349);
    }
    75%{
        margin-left:75%;
        border-radius:75%;
        background-color: rgba(39, 56, 22, 0.363);
    }
    100%{
        margin-left:85%;
        border-radius:100%;
        background-color: rgba(12, 22, 1, 0.301);
        
    }
    
}
.anim5 p{
    opacity: 0;
    animation: p infinite 3s 4s;
    font-size: large;
    color: aliceblue;
    width: 100px;
}
@keyframes p {
    from {
        margin: auto;
        opacity: 0;
    }
    to {
        margin: auto;
        opacity: 1;
        background-color:rgba(168, 166, 39, 0.733) ;
        transform: scale(4);
    }
}
.anim6{
    width: 100px;
    height:200px;
    background-color: black;
    margin: auto;

}



@media only screen 
and (max-width:760px) {
    body{
        background-color: aquamarine;
    }
    tr,td{
        width: 100%;
        background-color: black;
    }
    tr {
    display: flex;
    flex-direction: column;
    }
    .anim3 img { 
        height: 50px;
        width: 150px;
        top: 5%;
        left:50%;
    }
    .anim4{
        width: 100px;
        height:200px;
        background-color: white;
        margin: auto;
    }
    .anim5{
        width: 100px;
        height:200px;
        background-color: white;
        margin: auto;
    }
    .anim6{
        width: 100px;
        height:200px;
        background-color: white;
        margin: auto;
    
    }

}


  
  